.content{
    display: flex;
    flex-direction: row;
    margin-right: 2%;
    margin-left: 1%;
    justify-content: space-between;
    

}
.tab2{
    width: 80%;
}
.pageRow {
    display: grid;
    grid-template-columns: auto auto auto;
    align-items: center;
    padding: 0px 20px;
    margin: 12px 0px 12px 12px;
    justify-content: space-between;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  .rowTitle {
    padding: 24px 0px 0px 12px;
  }