.pageContainer {
  display: flex;
  width: 100%;
}

.pageBody {
  width: calc(100% - 260px);
  display: flex;
  align-items: center;
}
.pageRow {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 40px 20px 0px 20px;
  margin: 12px;
  justify-content: space-between;
  // border: 1px solid #ccc;
  border-radius: 4px;
}

.rowTitle {
  padding: 24px 0px 0px 12px;
}
.dateRangeInput {
  position: absolute;
  font-size: 1em;
  padding: 4px;
  // border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
  right: 20px;
  top: 0px;
}
.lineGraph {
  width: 100%;
}
