.Home{
    background-color: rgb(245, 242, 242);
}
.content{
    margin-right: 10%;
    margin-left: 10%;
    background-color: rgb(245, 242, 242);
}
.tdisplay{
    font-size: 25px;
    margin-bottom: 20px;
    font-weight: bold;
    border-bottom: 1px solid;
    border-color: rgb(197, 180, 180);
    padding: 10px;

}
.item{
    margin-top: 10px;
}
.wraper{
    margin-bottom: 20px;
    background-color: #fff;
}
.space{
    white-space: nowrap;
}
.totalprice{
    float: right;
    position: absolute;
    right: 170px;  
    border: 3px solid red;
    white-space: nowrap;
}
.displayMoney{
    display: flex;
    flex-direction: row;
    border-bottom: solid rgb(233, 223, 223) 1px;
}
.disTotalPrice{
    margin-left: 80%;
}
.totalPrice{
    position: absolute;
    right: 5%;
    color: red;
    margin-right: 6%;
}
.container {
    height: 200px;
    position: relative;
    border: 1px solid white;
}
.center {
    margin: 0;
    margin-top: 50px;
    position: absolute;
    border: solid 3px blue;
    font-weight: 25px;
    font-size: 20px;
    top: 20%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
.text{
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}
.comp1{
    margin-right: 10%;
    margin-left: 10%;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
  }