.all{
    padding: 25px;
}
.space{
    white-space: nowrap;
}
.totalprice{
    float: right;
    position: absolute;
    right: 170px;  
    border: 3px solid red;
    white-space: nowrap;
}
.displayMoney{
    display: flex;
    flex-direction: row;
    border-bottom: solid rgb(233, 223, 223) 1px;
}
.disTotalPrice{
    margin-left: 80%;
}
.totalPrice{
    position: absolute;
    right: 5%;
    color: red;
}