.pageContainer {
  display: flex;
  padding: 0px 12px 0 0;
}

.pageBody {
  width: calc(100% - 260px);
  padding: 12px;
}
.unlocked {
  color: rgb(24, 83, 19);
  :hover {
    cursor: pointer;
  }
}

.locked {
  color: rgb(172, 14, 14);
  :hover {
    cursor: pointer;
  }
}
.modalTitle {
  width: 100%;
  padding: 0px 0px 40px 0px;
  color: #1565c0;
  font-weight: 600;
}
.modalTextField {
  width: 100%;
  padding: 0px 0px 40px 0px;
}
.modalButton {
  width: 100%;
  padding: 32px 0px 0px 0px;
  display: flex;
  justify-content: right;
  .modalBtn {
    margin-left: 12px;
    padding: 8px;
  }
}
