.content{
    margin-right: 10%;
    margin-left: 10%;
    background-color: rgb(245, 242, 242);
}
.displayaddress{
    display: flex;
    flex-direction: row;
    border-bottom: solid rgb(233, 223, 223) 1px;
}
.disphone{
    margin-left: 5%;
}
.disaddress{
    position: absolute;
    right: 30%;
}
.content{
    margin-bottom: 10px;
    border: solid 1px rgb(43, 21, 21);
    padding-left: 10px;
    padding-right: 10px;
}

.change_button{
    position: absolute;
    right: 10%;
}
.footer{
    position: absolute;
    bottom: 0;
    width: 100%;
}