.tableOption {
  display: inline-flex;
  width: 100%;
  justify-content: right;
  height: 40px;
}
.searchBar {
  width: 400px;
  display: inline-flex;
  padding: 0px 12px;
  margin-right: 12px;
  outline: 1px solid #ccc;
  border-radius: 20px;
  justify-content: left;
  align-items: center;

  .searchIcon {
    margin: 4px 0px;
    padding: 0px 4px;
    border-right: 1px solid #ccc;
  }

  input {
    padding: 0px 12px;
    width: 100%;
    font-size: 14px;
    border: none;
    outline: none;
    background-color: transparent;
    height: 100%;
  }

  .clearButton {
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: none;

    .clearIcon {
      margin: 12px 8px;
      width: 15px;
      height: 15px;
      color: #fff;
      background-color: #333;
      border-radius: 50%;
    }
  }

  &:focus-within {
    outline: 1px solid #1565c0;
  }
}

.tableContainer {
  width: 100%;
  margin-top: 12px;
}

.tableBody {
  height: 780px;
  overflow: scroll;
}
.tableRow,
.tableHeader {
  padding-left: 16px;
  display: grid;
  grid-template-columns: 5% 30% 20% 20% 15% 10%;
  justify-content: left;
}
.tableHeader {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}
.tableRow:hover {
  border: 1px solid #1565c0;
  background-color: #d4e3f3;
  box-shadow: 0 1px 8px 0 rgb(21 101 192/ 20%);
  transform: translateY(-0.125rem);
}

.columnHeader,
.tableData {
  width: 100%;
  display: flex;
  color: #333;
  text-decoration: none;
  align-items: center;
}
.alignLeft {
  justify-content: left;
}
.alignCenter {
  justify-content: center;
}
.columnHeader {
  height: 40px;
}
.tableData {
  height: 76px;
}

.unlocked {
  color: green;
}

.locked {
  color: red;
}
.modalTitle {
  width: 100%;
  padding: 0px 0px 40px 0px;
  color: #1565c0;
  font-weight: 600;
}
.modalTextField {
  width: 100%;
  padding: 0px 0px 40px 0px;
}
.modalButton {
  width: 100%;
  padding: 32px 0px 0px 0px;
  display: flex;
  justify-content: right;
  .modalBtn {
    margin-left: 12px;
    padding: 8px;
  }
}
