.group{
    border-bottom: solid rgb(136, 130, 130) 1px;

}
.infor{
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 50px;
    align-items: center;
}
.update{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30px;
    display: none;
    margin-top: 5px;
    margin-bottom: 15px;

}
.inputUpdate{
    height: 20px;
}
.column{
    width: 30%;
}
.midColumn{
    width: 50%;
}
.lastColumn{
    width: 10%;
}
.replaceInfor{
    cursor: pointer;
}