.commentProduct{
    margin: auto;
    width: 60%;
    margin-bottom: 30px;
}
.avatarInput {
    margin-top: 20px;
    margin-left: 40%;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
.all{
    margin-top: 20px;
}
.elm1{
    display: flex;
    margin: auto;
    width: 80%;
    justify-content: space-around;

}
.rating{
    margin-left: 40%;

}
.textComment{
    margin: auto;
    width: 100%;

}