.Header{
    background-color: black;
    position: -webkit-sticky; /* Safari & IE */
    position: sticky;
    top: 0;
    z-index: 1;
    width: 100%;
}
.btcart{
    cursor: pointer;
}

.toolBar{
    /* justify-content: space-between; */
    align-items: center;
    padding: 10px 10%;
    display: flex;
    background-color: black;
}
.image{
    width: 20px;
    height: 20px;
    padding-right: 20px;
    cursor: pointer;
}
.userIcon{
    width: 25px;
    height: 25px;
    margin-right: 10px;
}
.namePaper {
    /* align-items: center; */
    color: white;
    margin-right: 20px;
    font-size: 25px;
    cursor: pointer;
}
.textColor{
    color: white;
}
.search{
    width: 91%;
    border-radius: 10px;
    height: 30px;
    padding-left: 10px;
}
.divSearch{
    margin-left: 60px;
    width: 60%;
    align-items: center;
    display: flex;
    justify-content: space-between;
}
.divUser{
    /* padding-left: 50px; */
    align-items: center;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    
}

.divUser1{
    /* padding-left: 50px; */
    align-items: center;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    
}
.toolBar a{
    text-decoration: none;
}



/* ------------- nar-bar */
.cmp_2{
    margin-bottom: 5px;
    display: flex;
    width: 90%;
    justify-content:space-around;

}
.narBar{
    background-color: black;
    display: flex;
    /* margin-left: 13%; */
    /* padding-right: 13%; */
    /* padding-left: 15%;  */
    /* padding-right: 15%; */

    /* justify-content: space-around; */
    margin-left: 20%;
    /* width: 80%; */


}

.cart{
    right: 20%;
}
.narMenu{
    /* flex-direction: row; */
    display: flex;
}
/* .narMenu ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    justify-content: space-between;
    z-index: 9999;
} */

.Header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    justify-content: space-between;
    z-index: 9999;
}
.Header li{
    margin-right: 10px;
}

.Header ul li {
    border: 2px solid transparent;
    align-content: center;
    align-items: center;
}

.narBar ul {
    margin-left: 80px;
}
.narBar ul li{

    display: block;
    white-space: nowrap;
    align-items: center;
        display: flex;
        justify-content: space-between;
        cursor: pointer;
        margin-right: 20px;
}

.narBar ul li:hover {
    border-color: yellow;
    
    z-index: 9999;

    background: linear-gradient(to right, #7fa2d1, #06ff4b);

  }

.narBar  a {
    display: block;
    color: white;
    text-align: center;
    padding: 12px 12px;
    text-decoration: none;
  }

  /* @media only screen and (min-width: 1024px) {
    .narBar  a {
        padding: 8px 8px;
      }
  } */


.rowMenu a{
    text-align: center;
    padding: 12px 12px;
    text-decoration: none;
    color: white;
}

.rowMenu_1{
    display: flex;
    padding:10px 20%;
    justify-content: space-between;
}
.rowMenu_2{
    display: flex;
    padding:10px 20%;
    justify-content: space-between;
}

.rowMenu{
    position: fixed;
    background-color: black;
    width: 100%;
    align-items: center;
    
}
.Header h1{
    padding-left: 15%;
    padding-right: 15%;
    text-align: justify;
}
/* 
@media only screen and (min-width: 1024px) {
    .Header .toolBar {
      display:flex;
    }
  }

  @media only screen and (min-width: 1024px) {
    .Header .narBar  {
      display:flex;
    }
  } */

.searchBtn{
    background-color: transparent;
    border: none;
}