.commentProduct{
    margin: auto;
    width: 60%;
    height: auto;
    margin-bottom: 30px;
}
.all{
    margin-top: 20px;
}
.elm1{
    display: flex;
    margin: auto;

}
.column {
    width: 100%;
    /* display: block; */
    margin-bottom: 20px;
    float: left;
    display:inline-block;
    vertical-align:top;
}

.container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 50px  50px;
    border: 1px blue solid;
}
.middle{
    grid-column: 3;
}
.last{
    grid-column: 11;
}
.footer{
    grid-column: 11;
    grid-row: 5;
}
.button{
    grid-column: 1;
    grid-row: 5;
}