.all{
    margin-top: 20px;
}
.elm1{
    display: flex;
    margin: auto;

}
.column {
    width: 100%;
    /* display: block; */
    margin-bottom: 20px;
    float: left;
    display:inline-block;
    vertical-align:top;
}

.container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 50px  50px;
    border: 1px blue solid;
    padding: 15px;
}
.middle{
    grid-column: 3;
}
.last{
    grid-column: 11;
}
.footer{
    grid-column: 11;
    grid-row: 5;
}
.button{
    grid-column: 1;
    grid-row: 5;
}
.totalprice{
    float: right;
    position: absolute;
    right: 170px;  
    border: 3px solid red;
    white-space: nowrap;
}
.count{
    margin-left: 40px;
}
.all{
    display: flex;
    /* justify-content: space-between; */
    margin-bottom: 10px;
}
.left_comp{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.image{
    width:200px;
    height:150px;
}

.comp1{
    margin-left: 5px;
}
.product_price{
    margin-top: 30px;
    color: red;
}
.content{
    margin-bottom: 10px;
    border: solid 1px rgb(43, 21, 21);
    padding-left: 10px;
    padding-right: 10px;
}
.customerName{
    font-weight: bold;
    font-size: 20px;
}
.listProduct{
    border-bottom: solid rgb(233, 223, 223) 1px;
}

.comp2{
    margin-left: 70%;
    margin-top: 5px;
    margin-bottom: 5px;

}
.comp3{
    margin-left: 90%;
    margin-top: 5px;
    margin-bottom: 5px;

}
.displayInfo{
    display: flex;
    flex-direction: row;
}
.infor{
    margin-left: 20px;
    font-size: 20px;
    color: red;
}
.alignleft {
	float: left;
    /* below 5px */
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
}
.alignright {
	float: right;
}
.clear{
    clear: both;
}
.input{
    text-align: center;
    margin-top: 0px;
    max-height: 25px;
    max-width: 50px;
    margin-left: 1px;
    margin-right: 1px;
}