.cardContainer {
  text-decoration: none;
}

.cardBody {
  border: 1px solid rgba(0, 0, 0, 0);
  border-radius: 4px;
  height: 100%;
}
.cardBody:hover {
  cursor: pointer;
  border: 1px solid #1565c0;
  box-shadow: 0 1px 8px 0 rgb(21 101 192/ 20%);
  transform: translateY(-0.125rem);
}

.cardContent {
  padding: 12px;
}
.productImage {
  position: relative;
  width: 100%;
  img {
    position: absolute; /* Take your picture out of the flow */
    top: 0;
    bottom: 0;
    left: 0;
    right: 0; /* Make the picture taking the size of it's parent */
    width: 100%; /* This if for the object-fit */
    height: 100%; /* This if for the object-fit */
    object-fit: cover; /* Equivalent of the background-size: cover; of a background-image */
    object-position: center;
  }
}
.productImage:after {
  content: '';
  display: block;
  padding-bottom: 100%; /* The padding depends on the width, not on the height, so with a padding-bottom of 100% you will get a square */
}

.cardTitle {
  font-size: 16px;
  padding: 12px 0px;
  margin: 0px;
  height: 50px;
}

.cardPrice {
  font-weight: 600;
  color: #1565c0;
}

.productContent {
  width: 100%;
  padding: 12px 0px 0px 0px;
  display: inline-block;
}

.productRating {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.rating {
  opacity: 1 !important;
  font-size: 14px !important;
}

.selledNumber {
  display: block;
  font-size: 12px;
}
.location {
  display: inline-flex;
  padding-top: 12px;
  font-size: 12px;
  width: 100%;
  align-items: center;
  justify-content: flex-end;
  color: #1565c0;
}

.locationIcon {
  width: 14px;
}
